* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

nav .mainMenu {
    display: flex;
    list-style: none;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

nav .mainMenu li a:hover {
    background: rgba(225, 94, 0, 0.8);
}

nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu, .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.fa-facebook:hover {
    color: blue;
}

.fa-instagram:hover {
    color: hotpink;
}

.fa-twitter:hover {
    color: aquamarine;
}

.fa-github:hover {
    color: red;
}

nav .logo {
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
}

@media(max-width: 800px) {
    nav .openMenu {
        display: block;
    }

    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: black;
        transition: top 0.3s ease;
        display: none;
    }

    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    nav .mainMenu .li a:hover {
        background: none;
        color: rgba(255, 123, 0, 0.8);
        font-size: 1.6rem;
    }

    .icons i {
        display: inline-block;
        padding: 12px;
    }
}


